{% extends "layout.html" %}
{% block title %}
    管理介面
{% endblock %}
{% block body %}
<div class="container">
    <h1>聯絡簿管理</h1>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">聯絡簿內容設定</label>
        <p class="fst-italic">Last update:{{time}}</p>
        <form action='\add_item' method="post">
            {%for key, value in contents.items() %}
            <h5>{{key}}</h5>
            <input type="text" class="form-control" name={{key}} , value = {{value}}>
            {% endfor %}
            <button type="submit" class="btn btn-primary">確定</button>
        </form>
    </div>
</div>  
{% endblock %}