{% extends "layout.html" %}
{% block title %}
    閱讀文章
{% endblock %}
{% block body %}
    {% if commented == True %}
        <head>
            <meta http-equiv="refresh" content="0;url={{r_url}}" />
        </head>
    {% endif %}
    <pre>
        {{content}}
    </pre>
    {% if id == 'guest' %}
        <a href = '/login'>登入</a>以發表留言
    {% else %}
        <h5>留言:</h5>
        <form action=? method="post">
            <input type="text" class="form-control" name="comment">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-success">
                  <input type="radio" name="options" value="push" autocomplete="off"> 推
                </label>
                <label class="btn btn-outline-dark">
                  <input type="radio" name="options" value="anno" autocomplete="off" checked> →
                </label>
                <label class="btn btn-outline-danger">
                  <input type="radio" name="options" value="bad" autocomplete="off"> 噓
                </label>
            </div>
            <button type="submit" class="btn btn-primary">確定</button>
        </form>
    {% endif %}
{% endblock %}