{% extends "layout.html" %}
{% block title %}
    管理者登入
{% endblock %}
{% block body %}
    <div class = "container">
        <div>
            <h1><i class="fas fa-key"></i>登入</h1>
        </div>
        <h5>請輸入您的登入資訊</h5>
        <div class = "form-group row">
            <form action='\login' method="post">
                <div class="col-3">
                    <label for="Username" class="form-label">Username</label>
                    <input type="Username" class="form-control" name="Username">
                </div>
                <div class="col-3">
                    <label for="Password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="Password">
                </div>
                <button type="submit" class="btn btn-primary">登入</button>
            </form>
        </div>
    </div>
{% endblock %}